/*--------*\
   #COLORS
\*--------*/

// base colors
$color-white: #fff;
$color-black: #000;
//pink colors
$color-pink1: #E4BAF5;
//blue collors
$color-blue1: #0D1A66;

// layout colors
$background-gradient-box: linear-gradient(180deg, $color-pink1, $color-blue1);
